/* reset */
* { box-sizing: border-box; margin: 0; padding: 0; }


.site-header nav.difficulty {
    margin-top: 1rem;
}

.site-header nav.difficulty ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 0.6rem 1rem;
    background: rgba(240, 240, 240, 0.75);
    backdrop-filter: blur(6px);
    border-radius: 12px;
}

.site-header nav.difficulty li a {
    text-decoration: none;
    /* color: hsl(0, 0%, 95%); */
    font-weight: 600;
    padding: 0.4rem 0.7rem;
    border-radius: 6px;
    transition: 0.2s ease;
}

.site-header nav.difficulty li a:hover {
    background: rgba(255,255,255,0.25);
}

.site-header nav.difficulty li a.nav-home {
    color: #000fff;
}
.site-header nav.difficulty li a.nav-shard_plus {
    color: #870008;
}
.site-header nav.difficulty li a.nav-chaos {
    color: #67277e;
}

.site-header nav.difficulty li a.nav-cosmos {
    color: #045060;
}
.site-header nav.difficulty li a.nav-abyss {
    color: #501b52;
}

p.shard_plus {
    color: #870008;
    font-weight: bold;
}

p.chaos {
    color: #67277e;
    font-weight: bold;
}

p.cosmos {
    color: #045060;;
    font-weight: bold;
}

a {
    color: #202060;
    text-decoration: none;
}


@supports (-webkit-overflow-scrolling: touch) {

}
